<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "about me" %></h1>
  <br />
  <div>
    <img
      src="https://github.com/melanie-payne/personal-portfolio/blob/master/public/images/me_drinking_coffee.jpg?raw=true"
      alt="if you're seeing this it didnt work &#x1F623;"
      width="300px"
      length="auto"
    />
    <br /><br />
  </div>
  <p>Hi there!</p>
  <p> I'm Melanie, a Barbados native with a passion for software engineering. Transitioning from psychology to this exciting field was a natural choice for me. While psychology lacked the challenge I craved, my love for math and science led me to explore programming. Growing up with a brilliant programmer as my mother, I was inspired to pursue a career in software engineering. What sets me apart is my meticulous attention to detail and exceptional organizational skills. Drawing from my background in the study of human behavior, I possess a unique ability to understand and connect with coworkers, clients, and people in general. Beyond coding, I'm an avid reader and a lifelong learner, always seeking to perfect new hobbies and crafts. I find solace in solving puzzles and find joy in running. Welcome to my portfolio, where I'm excited to share my journey and showcase my software projects and skills.</p>
  <p>
    Here is my
    <a href="file:///C:/Users/melan/OneDrive/Documents/school/centennial-college/current-semester/web-dev-229/assignments-229/assignment-1-229/public/images/resume-2022.pdf" class="btn  btn-sm">resume</a>
  </p>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
