<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "about me" %></h1>
  <br />
  <div>
    <img
      src="https://github.com/melanie-payne/personal-portfolio/blob/master/public/images/me_drinking_coffee.jpg?raw=true"
      alt="if you're seeing this it didnt work &#x1F623;"
      width="300px"
      length="auto"
    />
    <br /><br />
  </div>
  <p>I am Melanie</p>
  <p>mission statement</p>
  <p>
    here is my
    <a href="file:///C:/Users/melan/OneDrive/Documents/school/centennial-college/current-semester/web-dev-229/assignments-229/assignment-1-229/public/images/resume-2022.pdf" class="btn  btn-sm">resume</a>
  </p>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
