<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "about me" %></h1>
  <br />
  <p>Here is a picture of me (put picture)</p>
  <p>I am Melanie</p>
  <p>That's pretty much it</p>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
