<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "contact me" %></h1>
  <br />
  <p
    >If you have any questions or inquiries, please feel free to reach out to me
    using the contact information below:</p
  >

  <div class="contact-info">
    <h2>email</h2>
    <p>melanie_payne@outlook.com</p>
  </div>

  <div class="contact-info">
    <h2>phone</h2>
    <p>+14168713480</p>
  </div>

  <div class="contact-info">
    <h2>social media</h2>
    <p
      ><a href="https://twitter.com/mxlanie_codes" target="_blank"
        ><i
          class="fa-brands fa-square-twitter fa-xl"
          style="color: #ebc1e4"></i></a
      >&nbsp;
      <a href="https://linkedin.com/in/example" target="_blank"
        ><i class="fa-brands fa-linkedin fa-xl" style="color: #ebc1e4"></i></a
      >&nbsp;
      <a href="https://github.com/melanie-payne" target="_blank"
        ><i
          class="fa-brands fa-square-github fa-xl"
          style="color: #ebc1e4"></i></a
    ></p>
  </div>
  <br />
  <div class="contact-form">
    <h2>send me a message</h2>
    <form action="/contact" method="POST">
      <label for="name">name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">email:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">message:</label>
      <textarea id="message" name="message" required></textarea>

      <button type="submit">send message</button>
    </form>
  </div>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
