<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "contact me" %></h1>
  <br />
  <p>Here is my contact information</p>
  <p>email</p>
  <p>number</p>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
