<!-- home page -->

<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>
<main class="container">
  <h1><%= title %></h1>
  <p>Welcome to my portfolio!</p>
  <p>My mission is to provide a comprehensive platform for showcasing my software projects, skills, and resume to potential employers. As a dedicated software engineering student with a passion for programming, I am committed to delivering high-quality solutions that meet the needs of today's dynamic industry. Building upon my diverse background in psychology, I bring a unique perspective to my work, blending analytical thinking with creativity. Through my portfolio, I aim to convey my technical proficiency, problem-solving abilities, and strong work ethic. By engaging with potential employers, I seek to forge meaningful connections and contribute to innovative projects that make a positive impact in the software engineering field.</p>
</main>
<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
