<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "projects" %></h1>
  <br />
  <p>Here is my projects</p>
  <p>aha so many projects</p>
  <p>super real engineer of software anD NOT a fraud aha</p>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
