<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "projects" %></h1>
  <br />
  <p>C# coffee shop</p>
  <img src="" alt=""><br>
  <p>JavaScript class countdown timer</p>
  <img src="" alt="">
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
