<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "projects" %></h1>
  <br />
  <p>JavaScript class countdown timer</p>
  <img
    src="/images/class-timer.png"
    width="900px"
    class="img-fluid"
    alt="" /><br /><br /><br />
  <p>C# coffee shop</p>
  <img
    src="/images/coffee-shop.png"
    width="900px"
    class="img-fluid"
    alt="" /><br />
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
