<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <h1><%= "services" %></h1>
  <br />
  <h3>what i offer:</h3>
  <ol>
    <li><b>Web Development:</b> Create responsive and user-friendly websites utilizing modern technologies such as HTML5, CSS3, JavaScript, and frameworks like React or Angular.</li>
    <br>
    <li><b>Mobile App Development:</b> Design and develop mobile applications for iOS and Android platforms, leveraging the power of frameworks like React Native or Flutter.</li>
    <br>
    <li><b>Software Testing:</b> Ensure the reliability and functionality of your software applications through comprehensive testing methodologies, including unit testing, integration testing, and end-to-end testing.</li>
    <br>
    <li><b>Technical Consulting:</b> Provide expert advice and guidance on software engineering best practices, architecture design, scalability, and performance optimization to help you make informed decisions for your projects.</li>
    <br>
    <li><b>Code Review and Refactoring:</b> Perform in-depth code analysis to identify areas for improvement, optimize performance, enhance maintainability, and ensure adherence to coding standards.</li>
    <br>
    <li><b>Software Documentation:</b> Create clear and comprehensive technical documentation, including user manuals, API documentation, and system architecture diagrams, to facilitate seamless understanding and collaboration.</li>
    <br>
    <li><b>Problem Solving and Debugging:</b> Utilize analytical and problem-solving skills to troubleshoot and resolve complex software issues, ensuring smooth operation and minimizing downtime.</li>
    <br>
    <li><b>Technical Training and Workshops:</b> Conduct customized training sessions and workshops to enhance your team's software development skills, covering topics such as programming languages, frameworks, and industry best practices.</li>
</ol>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
